*{
    margin: 0px;
    font-family: sans-serif;
}
.divbackgroundimage{
    width: 100%;
    height: 730px;
    background-image: url(./images/image\ 7.png);
    background-size: cover;
}
.backgroundcolor{
    width: 100%;
    height: 730px;
    background: linear-gradient(#1B1E31E5,#1B1E3100);
}
.divheropart1{
    display: flex;
    align-items: center;
    gap: 40px;
}
.divheropart2{
    display: flex;
    align-items: center;
    gap: 40px;
}
.pUslugi{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
.divhero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    gap: 50x;
}
.pHelp{
    font-size: 60px;
    font-weight: 500;
    color: #FFFFFF; 
    width: 80%;
}
.pPervimi{
    color: #60C880;
}
.divHelp{
    width: 40%;
    height: 45%;

}
.pInter{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    width: 70%;
    margin-top: 10px;
}
.btnOtprav{
    width: 259px;
    height: 50px;
    background-color: #60C880;
    color: #FFFFFF;
    border-radius: 30px; 
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
}
.offcomp{
    display: none;
}
.divicon37{
    width: 10%;
    height: 65%;
    display: flex;
    align-items: end;
  
}
.divhead2x{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 100px;
}
.sec1{
    width: 100%;
    height: 600px;
    margin-top: 250px;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.p01{
    display: flex;
    align-items: center;
    gap: 20px;
}
.div01{
    width: 35%;
    height: 100%;
}
.pInnor{
    font-size: 45px;
    font-weight: 400;
    color: #3D3D3D;
    margin-top: 15px;
    margin-bottom: 50px;
}
.pOOO{
    font-size: 20px;
    font-size: 400;
    color: #3D3D3D;
    margin-top: 15px;
}
.img831{ 
    width: 30%;
}
.sec2{
    width: 80%;
    height: 1000px;
    margin: auto;
    margin-top: 200px;
}
.div02{
    width: 100%;
    height: 260px;
    margin-top: 0px;
    display: flex;
    border: 1px solid #D9D9D9;
    padding: 20px;
    gap: 20px;
    padding-top: 30px;
}

.pPO{
    font-size: 36px;
    color: #3f3d3d;
    font-weight: 400;
}
.pNashe{
    width: 70%;
    height: 100px;
    margin-top:  15px;
    font-size:20px ;
}
.dPod{
    font-size: 20px;
    color: #3D3D3D;
    text-transform: uppercase;
    font-weight: 6  00;
    display: flex;
    align-items: center;
}
.dPod1{
    
    display: none;

 
}

@media (max-width:510px) {
    .dPod1{
    font-size: 20px;
    color: #3D3D3D;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    gap: 30px;
    margin-top: 120px;
    }
    .div02{
        height: 350px;
    }
    .pNashe{
        width: 100%;
        font-size: 18px;
    }
    .pPO{
        font-size: 20px;
    }
    .sec2{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 550px;
       width: 88%;
       

    }
    .img831{ 
        width: 90%;
    }
    .img831{
        margin: auto;
    }
    .div01{
        width: 90%;
        align-items: center;
        margin: auto;
    }
    .sec1{
        flex-direction: column;
    }
    .img37{
        width: 100px;
        margin-left: 55px;
    }
    .divicon37{
        height:20% ;
        width:5%;
    }
    .pInter{
        width: 80%;
        font-size: 20px;

    }
    .divHelp{
        width: 90%;
        margin-top: -50px;
    
    }
    .divhead2x{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 0px;
     
        
    } 
    .pHelp{
        font-size: 40px;
        width: 90%;
    }
    .divbackgroundimage{
        background-image: url(./images/image\ 7\ \(1\).png);

    }
    .offphone{
        display: none;
    }
    .divherophone{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding-top: 15px;
    }

    
}