*{
    margin: 0px;
    font-family: sans-serif;
}
.divbackgroundimage{
    width: 100%;
    height: 730px;
    background-image: url(./images/image\ 7.png);
    background-size: cover;
}
.backgroundcolor{
    width: 100%;
    height: 730px;
    background: linear-gradient(#1B1E31E5,#1B1E3100);
}
.divheropart1{
    display: flex;
    align-items: center;
    gap: 40px;
}
.divheropart2{
    display: flex;
    align-items: center;
    gap: 40px;
}
.pUslugi{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
.divhero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    gap: 50x;
}
.pHelp{
    font-size: 60px;
    font-weight: 500;
    color: #FFFFFF; 
    width: 80%;
}
.pPervimi{
    color: #60C880;
}
.divHelp{
    width: 40%;
    height: 45%;

}
.pInter{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    width: 70%;
    margin-top: 10px;
}
.btnOtprav{
    width: 259px;
    height: 50px;
    background-color: #60C880;
    color: #FFFFFF;
    border-radius: 30px; 
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
}
.offcomp{
    display: none;
}
.divicon37{
    width: 10%;
    height: 65%;
    display: flex;
    align-items: end;
  
}
.divhead2x{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 100px;
}
.sec1{
    width: 100%;
    height: 600px;
    margin-top: 250px;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.p01{
    display: flex;
    align-items: center;
    gap: 20px;
}
.div01{
    width: 35%;
    height: 100%;
}
.pInnor{
    font-size: 45px;
    font-weight: 400;
    color: #3D3D3D;
    margin-top: 15px;
    margin-bottom: 50px;
}
.pOOO{
    font-size: 20px;
    font-size: 400;
    color: #3D3D3D;
    margin-top: 15px;
}
.img831{ 
    width: 30%;
}
.sec2{
    width: 80%;
    height: 1000px;
    margin: auto;
    margin-top: 200px;
}
.div02{
    width: 100%;
    height: 260px;
    margin-top: 0px;
    display: flex;
    border: 1px solid #D9D9D9;
    padding: 20px;
    gap: 20px;
    padding-top: 30px;
}

.pPO{
    font-size: 36px;
    color: #3f3d3d;
    font-weight: 400;
}
.pNashe{
    width: 70%;
    height: 100px;
    margin-top:  15px;
    font-size:20px ;
}
.dPod{
    font-size: 20px;
    color: #3D3D3D;
    text-transform: uppercase;
    font-weight: 6  00;
    display: flex;
    align-items: center;
}
.dPod1{
    
    display: none;

 
}
.sec3{
    background-image: url(./images/Rectangle\ 21557.png);
    width: 100%;
    height: 941px;
    margin-top: 300px;
}
.petap{
    font-size: 45px;
    color: #FFFFFF;  
    margin-top: 15px;  
 }
 .divetap{
    width: 80%;
    margin: auto;
    padding-top: 100px;
 }
 .divanliz{
    width: 81%;
    height: 602px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    margin-top: 50px; 
 }
 .analiz01{
    width: 28%;
    height: 250px;
    border: 1px solid grey;
    background-color: #fff;
    padding: 30px;
 }
 .pana{
    font-size: 36px;
    font-weight: 500;
    color: #3D3D3D;
    margin-top: 15px;
 }
 .pbussines{
    font-size: 16px;
    color: #3d3d3dd5;
    width: 80%;
    margin-top: 10px;
 }
 .sec4{
     width: 80%;
     margin: auto;
     margin-top: 200px;
     display: flex;
     gap: 200px;
 }
.pWhy{
    font-size: 45px;
    font-weight: 600;
    color: #3D3D3D;
    margin-top: 20px;
}
.sec4part1{
    width: 50%;
    position: relative;
    
}
.pWant{
    font-size: 20px;
    font-weight: 400;
    color: #3D3D3D;
    width: 75%;
    margin-top: 30px;
}
.elps{
    
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #60C880;
    border-radius: 50%;
}
.sec4part2{
    width: 50%;
    position: relative;

}
.pwe{
    font-size: 18px;
    width: 65%;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.elps79{
    position: absolute;
    top:-70px ;
    left: -80px;
}
.im0{
    position: absolute;
    top:140px ;
    left: -140px;
}
.im1{
    position: absolute;
    top:150px ;
    left: -130px;
}
.im2{
    position: absolute;
    top:-110px ;
    left: 130px;
}
.im3{
    position: absolute;
    top:150px ;
    left: 420px;
}
.im4{
    position: absolute;
    bottom:-110px ;
    left: 170px;
}
.sec5{
    width: 80%;
    margin: auto;
    margin-top: 200px;
}
.divpek{
    width: 100%;
    margin: auto; 
    display: flex;   
    margin-top: 50px;  
    flex-wrap: wrap;
}
.pek{
    width: 196px;
    height: 12  0px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
}
@media (max-width:510px) {
    .divpek{
        flex-wrap: nowrap;
        overflow: auto;
        margin-left: 0px;
    }
    .elps79{
        left: -20px;
        top: -35px;
        width: 380px;
    }
    .elps{
       width: 300px;
       height: 300px;
       margin: auto;
    }
    .im0{   
        left: -40px;
        width: 60px;
        height: 60px;
        top: 120px;
    }

    .im1{ 
        left: -40px;
        width: 60px;
        height: 60px;
        top: 120px;
    }
    
    .im2{    
        width: 60px;
        height: 60px;
        top: -70px;
    }
    .im3{    
        width: 55px;
        height: 55px;
        left: 325px;
        top: 120px;
    }
    .im4{    
        width: 60px;
        height: 60px;
        top: 320px;
        left: 160px;
    }
    .sec4part2{
        width: 100%;
    }
    .sec4part1{
        width: 100%;
    }
     .sec4{
        flex-direction: column;
     }
     .analiz01{
        width: 95%;
        height: 140px;
        display: flex;
        gap: 10px;   
     }
    .divanliz{
        flex-direction:row;

    }
    .sec3{
        margin-top: 400px;
        height: 1500px;
    }
    .dPod1{
    font-size: 20px;
    color: #3D3D3D;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    gap: 30px;
    margin-top: 120px;
    }
    .div02{
        height: 350px;
    }
    .pNashe{
        width: 100%;
        font-size: 18px;
    }
    .pPO{
        font-size: 20px;
    }
    .sec2{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 550px;
       width: 88%;
       

    }
    .img831{ 
        width: 90%;
    }
    .img831{
        margin: auto;
    }
    .div01{
        width: 90%;
        align-items: center;
        margin: auto;
    }
    .sec1{
        flex-direction: column;
    }
    .img37{
        width: 100px;
        margin-left: 55px;
    }
    .divicon37{
        height:20% ;
        width:5%;
    }
    .pInter{
        width: 80%;
        font-size: 20px;

    }
    .divHelp{
        width: 90%;
        margin-top: -50px;
    
    }
    .divhead2x{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 0px;
     
        
    } 
    .pHelp{
        font-size: 40px;
        width: 90%;
    }
    .divbackgroundimage{
        background-image: url(./images/image\ 7\ \(1\).png);

    }
    .offphone{
        display: none;
    }
    .divherophone{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding-top: 15px;
    }

    
}